
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 100%;
/* background gradient at top of page, from http://www.colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(top,  #ffa853 0%, #fdf9bd 2%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa853),color-stop(2%,#fdf9bd));
  background: -webkit-linear-gradient(top,  #ffa853 0%,#fdf9bd 2%);
  background: -o-linear-gradient(top,  #ffa853 0%,#fdf9bd 2%);
  background: -ms-linear-gradient(top,  #ffa853 0%,#fdf9bd 2%);
  background: linear-gradient(top,  #ffa853 0%,#fdf9bd 2%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa853', endColorstr='#fdf9bd',GradientType=0 );
  background-repeat: repeat-x;
  background-color: #fdf9bd; /* Old browsers */
  margin: 0;
}

/* link styles */

a {
	text-decoration: none;
	border-bottom: 1px dotted;
	padding-bottom: .1em;
}
a:link {
    color: #C00;
  }
a:visited {
    color: #921A66;
  }
a:focus {
	color: #921A66;
}
a:hover {
    color: #921A66;
  }
a:active {
	color:#F00;
}


/* styles for the intro section */
#intro {
	text-align: center;
	margin: 2em 0 1em;
}
#intro h1 {
	margin-bottom: 0;
}
#intro h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #f26521;
	margin-top: -10px;
}
#intro p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: 1em;
}




/* styles for navigation */
#nav {
	background-color: #751c54;
}
#nav ul {
	list-style:none;
} 
#nav ul li {
	font-weight: normal;
    text-transform: uppercase;
}
#nav ul a:link {
    color: #fff;
  }
#nav ul a:visited {
    color: #fff;
  }
#nav ul a:focus {
	color:#FC6
}
#nav ul a:hover {
    color: #fc6;
  }
#nav ul a:active {
	color:#F00;
}
	
/* styles for the products section */

#products {
  background-color: #FFF;
  line-height: 1.5em;
  padding: 1em;
  border: double #FFBC53;
  margin: 1em;
  }

#products h2 {
  font-size: 1.2em;
  color: #ac267b;
  text-align: center;
  text-transform: uppercase;
  }
#products h3 {
  font-size: 1em;
  text-transform: uppercase;
  color: #F26521;
  border-top: 1px solid;
  border-left: 3px solid;
  padding-left: 1em;
  margin-top: 2.5em;
}

/* styles for the testimonials box */

#testimonials {
  background: #FFBC53 url(images/ex-circle-corner.gif) no-repeat left top;
  color: #633;
  font-size: .875em;
  line-height: 1.5; 
  padding: 1em;
  padding-left: 55px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 1em 10%;
  }
  
#testimonials h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #F26521;
  letter-spacing: 3px;
  }


/* miscellaneous styles */
  
em { 
  color: #F26521;
  }
  
p#copyright {
  color:#663333; 
  font-size: .8em;
  text-align: center;
  }


/** IMATGE FLOAT MARGE **/

#products img {
float: left;
margin-bottom: 6px;
margin-right: 6px;

}

#products a {
    display: flex;
    clear: left;
}

ul{
    padding: 0px;
    margin: 0px;
}

#nav {
    float: left;

}

#products {
    clear: both;
}

#nav {
    overflow: hidden;
}

#products {
    overflow: hidden;
}

#nav li {
    display: inline;
    padding: .5em;
    margin: .25em;
}